// Footer
footer {
  position: relative;
  top: 63px;
  background-color: $footer-green;
  width: 100%;
  height: 680px;
  color: white;
  text-align: center;
  background-image: url(../images/green-armchair.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 318px 283px;
}
@media (min-width: 1024px) {
  footer {
    background-position: -40px 40px;
    background-size: 460px 460px;
    height: 460px;
  }
}
hr {
  height: 1px;
  border: 0;
  border-bottom: 1px solid $line-green;
  padding: 10px 0;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  hr {
    width: 40%;
  }
}
footer .top .question {
  position: relative;
  top: 20px;
  font-size: 1.875em;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
}
.question a {
  color: $text-green;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}
@media (min-width: 1024px) {
  footer .top .question {
    font-size: 1.875em;
    padding: 50px;
  }
}
@media (min-width: 1024px) {
  .question a {
    display: initial !important;
    white-space: nowrap;
  }
}
@media (min-width: 1024px) {
  .bottom ul {
    display: inline-flex;
    list-style: none;
    padding: 20px;
  }
  .bottom li a {
    margin: 0 20px;
  }
}
section.sm-icons {
  position: relative;
  top: 30px;
}
i.fab,
i.fas {
  text-align: center;
  width: 60px;
  font-size: 30px;
  margin: 5px 2px;
  border: 3px solid $btn-green;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: $btn-green;
  }
}
@media (min-width: 1024px) {
  i.fab,
  i.fas {
    width: 70px;
    font-size: 40px;
    margin: 0 26px;
    border-width: 2px;
  }
}
