// Main Content Section
body {
  background-color: $body-bgnd;
}
#main {
  position: relative;
  min-height: 200px;
  top: 63px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: $body-bgnd;
}
.intro h1 {
  color: #656565;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-weight: 100;
  font-size: 1.5em;
}
@media (min-width: 1024px) {
  .intro {
    width: 70%;
  }
  .intro h1 {
    text-align: left;
    padding-left: 0;
  }
}
.intro p {
  position: relative;
  bottom: 16px;
  line-height: 1.5;
}
.form {
  position: relative;
  top: -14px;
}
@media (min-width: 1024px) {
  #main {
    position: relative;
    min-height: 500px;
    top: 120px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: $body-bgnd;
  }
  .form {
    float: left;
    width: 70%;
  }
  .options {
    position: relative;
    bottom: 150px;
    float: right;
    width: 230px;
  }
}
.form h2 {
  color: #656565;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-weight: 100;
  font-size: 1.5em;
}
@media (min-width: 1024px) {
  .form h2 {
    text-align: left;
    padding-left: 0;
  }
}
input[type="text"],
select {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border-top: 1px transparent;
  border-right: 1px transparent;
  border-bottom: 1px solid #ccc;
  border-left: 1px transparent;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 20px 0;
}
@media (min-width: 1024px) {
  input[type="text"],
  select {
    width: 20%;
    margin-right: 30px;
  }
  input#title {
    width: 100px;
  }
  input#firstName {
    width: 180px;
  }
  input#middleInitial {
    width: 140px;
  }
  input#lastName {
    width: 280px;
  }
  input#emailAddress {
    width: 330px;
  }
  input#dob {
    width: 160px;
  }
  input#sin {
    width: 240px;
  }
  .buttons {
    position: relative;
    top: 20px;
    right: 60px;
  }
}
.buttons {
  float: right;
}
input[type="reset"],
select {
  background-color: $btn-brown;
  padding: 8px;
  color: #fff;
  border-radius: 6px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  margin-right: 20px;
  &:hover {
    background-color: lighten($btn-brown, 5%);
  }
}
input[type="submit"],
select {
  background-color: $btn-green;
  padding: 8px;
  color: #fff;
  border-radius: 6px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: lighten($btn-green, 5%);
  }
}
.options {
  clear: right;
}
.options p {
  font-weight: 600;
}
span.moreOptions {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.moreOptions p {
  font-weight: normal;
  padding: 20px 0;
}
button.fw-mobile {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 10px 6px;
  background-color: $btn-green;
  color: #fff;
  border-radius: 6px;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: lighten($btn-green, 5%);
  }
}
.bottom ul {
  position: relative;
  margin: 0 auto;
  display: grid;
  padding: 10px;
  top: 10px;
}
.bottom li {
  padding: 4px;
  font-weight: 600;
  font-size: 1.2rem;
}
.bottom li a {
  text-decoration: none;
  color: #fff;
}
