// Top Navigation Desktop
@media (min-width: 1024px) {
  nav {
    position: fixed;
    visibility: visible;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background-color: #12422b;
  }
  img.desktop-logo {
    position: relative;
    float: left;
    left: 70px;
    top: 10px;
  }
  .mobile-logo {
    display: none;
  }
  .left-nav {
    position: fixed;
    display: block !important;
    left: 340px;
    top: 24px;
  }
  .left-nav a {
    color: #fff;
    text-decoration: none;
    padding-right: 40px;
    font-weight: 600;
  }
  .right-nav {
    position: relative;
    float: right;
    top: 18px;
    width: 330px;
  }
  img.secure {
    position: relative;
    top: 14px;
    width: 22px;
    float: right;
    margin-right: 10px;
  }
  .login {
    float: right;
    position: relative;
    top: 10px;
  }
  .right-nav ul {
    width: 600px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    // overflow: hidden;
  }
  .right-nav li {
    float: left;
    // min-width: 100px;
  }
  .right-nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  li#r1 {
    width: 90px;
  }
  li#r3 {
    width: 90px;
  }
  .right-nav i.fas.fa-search {
    font-size: 18px;
    border: none;
    position: relative;
    bottom: 9px;
  }
  .right-nav i.fas.fa-search:hover {
    background-color: transparent;
  }
  #slidemenu {
    display: none;
  }
}
// Side Navigation Mobile
@media (max-width: 1023px) {
  nav {
    position: fixed;
    visibility: visible;
    top: 0;
    width: 100%;
    height: 47px;
    z-index: 1000;
    background-color: #12422b;
  }
  .desktop-logo {
    display: none;
  }
  li#r1 {
    display: none;
  }
  li#r2 {
    display: none;
  }
  li#r3 {
    display: none;
  }
  li#r4 {
    list-style: none;
    list-style: none;
    position: relative;
    bottom: 48px;
    float: right;
    right: 6px;
  }
  li#r5 {
    display: none;
  }
}
.left-nav {
  display: none;
}
.logo {
  position: relative;
  top: 8px;
}
.logo img {
  width: 180px;
}
img.hamburger {
  width: 27px;
  margin: 0 6px;
}
@media (min-width: 1024px) {
  img.hamburger {
    display: none;
  }
}
img.secure {
  width: 22px;
  top: -4px;
  left: 10px;
}
div#slidemenu {
  position: fixed;
  top: 60px;
  opacity: 0;
  z-index: 40;
  background-color: beige;
  transition: all 0.5s ease-in-out;
}

#slidemenu a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 18px;
  color: $dark-gray;
  display: block;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid hsla(0, 1%, 10%, 0.5);
}
