// Variables

// Backgrounds
$dark-green: #12422b;
$footer-green: #1a5336;
$body-bgnd: #efeff4;

// Elements
$btn-green: #00a221;
$btn-brown: #c65415;
$link-green: #5bd449;
$line-green: #038203;

// Text
$light-gray: #656565;
$dark-gray: #1c1c1c;
$text-green: #47d453;
