/* List of Partials */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: WS-uil;
  src: url("../fonts/weblysleekuil.ttf"); }

body {
  font-family: WS-uil; }

h1 {
  color: #12422b; }

@media (min-width: 1024px) {
  nav {
    position: fixed;
    visibility: visible;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background-color: #12422b; }
  img.desktop-logo {
    position: relative;
    float: left;
    left: 70px;
    top: 10px; }
  .mobile-logo {
    display: none; }
  .left-nav {
    position: fixed;
    display: block !important;
    left: 340px;
    top: 24px; }
  .left-nav a {
    color: #fff;
    text-decoration: none;
    padding-right: 40px;
    font-weight: 600; }
  .right-nav {
    position: relative;
    float: right;
    top: 18px;
    width: 330px; }
  img.secure {
    position: relative;
    top: 14px;
    width: 22px;
    float: right;
    margin-right: 10px; }
  .login {
    float: right;
    position: relative;
    top: 10px; }
  .right-nav ul {
    width: 600px;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .right-nav li {
    float: left; }
  .right-nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600; }
  li#r1 {
    width: 90px; }
  li#r3 {
    width: 90px; }
  .right-nav i.fas.fa-search {
    font-size: 18px;
    border: none;
    position: relative;
    bottom: 9px; }
  .right-nav i.fas.fa-search:hover {
    background-color: transparent; }
  #slidemenu {
    display: none; } }

@media (max-width: 1023px) {
  nav {
    position: fixed;
    visibility: visible;
    top: 0;
    width: 100%;
    height: 47px;
    z-index: 1000;
    background-color: #12422b; }
  .desktop-logo {
    display: none; }
  li#r1 {
    display: none; }
  li#r2 {
    display: none; }
  li#r3 {
    display: none; }
  li#r4 {
    list-style: none;
    list-style: none;
    position: relative;
    bottom: 48px;
    float: right;
    right: 6px; }
  li#r5 {
    display: none; } }

.left-nav {
  display: none; }

.logo {
  position: relative;
  top: 8px; }

.logo img {
  width: 180px; }

img.hamburger {
  width: 27px;
  margin: 0 6px; }

@media (min-width: 1024px) {
  img.hamburger {
    display: none; } }

img.secure {
  width: 22px;
  top: -4px;
  left: 10px; }

div#slidemenu {
  position: fixed;
  top: 60px;
  opacity: 0;
  z-index: 40;
  background-color: beige;
  transition: all 0.5s ease-in-out; }

#slidemenu a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #1c1c1c;
  display: block;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid rgba(26, 25, 25, 0.5); }

body {
  background-color: #efeff4; }

#main {
  position: relative;
  min-height: 200px;
  top: 63px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #efeff4; }

.intro h1 {
  color: #656565;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-weight: 100;
  font-size: 1.5em; }

@media (min-width: 1024px) {
  .intro {
    width: 70%; }
  .intro h1 {
    text-align: left;
    padding-left: 0; } }

.intro p {
  position: relative;
  bottom: 16px;
  line-height: 1.5; }

.form {
  position: relative;
  top: -14px; }

@media (min-width: 1024px) {
  #main {
    position: relative;
    min-height: 500px;
    top: 120px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #efeff4; }
  .form {
    float: left;
    width: 70%; }
  .options {
    position: relative;
    bottom: 150px;
    float: right;
    width: 230px; } }

.form h2 {
  color: #656565;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-weight: 100;
  font-size: 1.5em; }

@media (min-width: 1024px) {
  .form h2 {
    text-align: left;
    padding-left: 0; } }

input[type="text"],
select {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border-top: 1px transparent;
  border-right: 1px transparent;
  border-bottom: 1px solid #ccc;
  border-left: 1px transparent;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 20px 0; }

@media (min-width: 1024px) {
  input[type="text"],
  select {
    width: 20%;
    margin-right: 30px; }
  input#title {
    width: 100px; }
  input#firstName {
    width: 180px; }
  input#middleInitial {
    width: 140px; }
  input#lastName {
    width: 280px; }
  input#emailAddress {
    width: 330px; }
  input#dob {
    width: 160px; }
  input#sin {
    width: 240px; }
  .buttons {
    position: relative;
    top: 20px;
    right: 60px; } }

.buttons {
  float: right; }

input[type="reset"],
select {
  background-color: #c65415;
  padding: 8px;
  color: #fff;
  border-radius: 6px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  margin-right: 20px; }
  input[type="reset"]:hover,
  select:hover {
    background-color: #dd5e17; }

input[type="submit"],
select {
  background-color: #00a221;
  padding: 8px;
  color: #fff;
  border-radius: 6px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out; }
  input[type="submit"]:hover,
  select:hover {
    background-color: #00bc26; }

.options {
  clear: right; }

.options p {
  font-weight: 600; }

span.moreOptions {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%; }

.moreOptions p {
  font-weight: normal;
  padding: 20px 0; }

button.fw-mobile {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 10px 6px;
  background-color: #00a221;
  color: #fff;
  border-radius: 6px;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer; }
  button.fw-mobile:hover {
    background-color: #00bc26; }

.bottom ul {
  position: relative;
  margin: 0 auto;
  display: grid;
  padding: 10px;
  top: 10px; }

.bottom li {
  padding: 4px;
  font-weight: 600;
  font-size: 1.2rem; }

.bottom li a {
  text-decoration: none;
  color: #fff; }

footer {
  position: relative;
  top: 63px;
  background-color: #1a5336;
  width: 100%;
  height: 680px;
  color: white;
  text-align: center;
  background-image: url(../images/green-armchair.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 318px 283px; }

@media (min-width: 1024px) {
  footer {
    background-position: -40px 40px;
    background-size: 460px 460px;
    height: 460px; } }

hr {
  height: 1px;
  border: 0;
  border-bottom: 1px solid #038203;
  padding: 10px 0;
  position: relative;
  width: 80%;
  margin: 0 auto; }

@media (min-width: 1024px) {
  hr {
    width: 40%; } }

footer .top .question {
  position: relative;
  top: 20px;
  font-size: 1.875em;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0; }

.question a {
  color: #47d453;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px; }

@media (min-width: 1024px) {
  footer .top .question {
    font-size: 1.875em;
    padding: 50px; } }

@media (min-width: 1024px) {
  .question a {
    display: initial !important;
    white-space: nowrap; } }

@media (min-width: 1024px) {
  .bottom ul {
    display: inline-flex;
    list-style: none;
    padding: 20px; }
  .bottom li a {
    margin: 0 20px; } }

section.sm-icons {
  position: relative;
  top: 30px; }

i.fab,
i.fas {
  text-align: center;
  width: 60px;
  font-size: 30px;
  margin: 5px 2px;
  border: 3px solid #00a221;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  transition: background-color 0.2s ease-in-out; }
  i.fab:hover,
  i.fas:hover {
    background-color: #00a221; }

@media (min-width: 1024px) {
  i.fab,
  i.fas {
    width: 70px;
    font-size: 40px;
    margin: 0 26px;
    border-width: 2px; } }
